---
swagger: "2.0"
info:
  description: "Nexmo's Number Insight API provides details about the validity, reachability and roaming status of a phone number, as well as giving you details on how to format the number properly in your application. There are three levels of the Number Insight API available:\n   - Basic\n   - Standard\n   - Advanced\n   \n  The advanced API is available asynchronously as well as synchronously.\n\n## [KPN Developer](https://developer.kpn.com/)<br/> [Getting Started](https://developer.kpn.com/getting-started)\n---"
  version: v1.1.1
  title: Number Insight - Nexmo
  termsOfService: https://developer.kpn.com/legal
  contact:
    name: API Support
    url: https://developer.kpn.com/support
    email: api_developer@kpn.com
host: api-prd.kpn.com
basePath: /communication/nexmo/number-insight
schemes:
- https
paths:
  /{level}:
    post:
      tags:
      - Request
      summary: Synchronously get information about a phone number
      description: "**Number Insight Basic**\nYou can use Nexmo's Number Insight Basic API to retrieve local and international representations of a phone number by doing semantic checks on the number you submit. This can help you normalise and consistently print numbers in your user interface and gives you information to help you decide if a phone number accept the phone number entered by your user, or ask them to check and correct it.\n\n  Number Insight Basic API is a free synchronous, easy-to-use RESTful web service. For any phone number you can\n  \n   - Retrieve the international and local format.\n   - Know the country where the number is registered.\n \n### Example\n  \n  Request:\n  \n  ```\n  curl -X POST \\\n    https://api-prd.kpn.com/communication/nexmo/number-insight/basic \\\n    -H 'authorization: Bearer ZvV84AtjcXoHU48hA6b5AZljegdy' \\\n    -H 'content-type: application/x-www-form-urlencoded' \\\n    -d 'number=447700900000'\n\n  ```\n  \n  Response:\n  \n  ```\n  {\n      \"status\": 0,\n      \"status_message\": \"Success\",\n      \"request_id\": \"fcb1e9a2-db9c-4ea2-84be-4e60da45e187\",\n      \"international_format_number\": \"447700900000\",\n      \"national_format_number\": \"07700 900000\",\n      \"country_code\": \"GB\",\n      \"country_code_iso3\": \"GBR\",\n      \"country_name\": \"United Kingdom\",\n      \"country_prefix\": \"44\"\n  }\n  \n  ```"
      operationId: NumberInsight
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application
      parameters:
      - name: level
        in: path
        description: The level of request you wish to make.
        required: true
        type: string
        default: "{{level}}"
        enum:
        - basic
        - standard
        - advanced
      - name: number
        in: formData
        description: |-
          The single phone number that you need insight about in national or international format.
              example: 447700900000
        required: true
        type: string
        pattern: "^[0-9-+\\(\\)\\s]*$"
        default: "{{number}}"
      - name: country
        in: formData
        description: |-
          If a number does not have a country code or is uncertain, set the two-character country code. This code must be in ISO 3166-1 alpha-2 format and in upper case. For example, GB or US. If you set country and number is already in [E.164](https://en.wikipedia.org/wiki/E.164) format, country must match the country code in number.
            example: GB
        required: false
        type: string
        pattern: "[A-Z]{2}"
        default: ""
      - name: cnam
        in: formData
        description: |-
          Indicates if the name of the person who owns the phone number should be looked up and returned in the response. Set to true to receive phone number owner name in the response. This features is available for US numbers only and incurs an additional charge.
            example: true
        required: false
        type: boolean
        default: ""
      - name: ip
        in: formData
        description: |-
          The IP address of the user. If supplied, we will compare this to the country the user's phone is located in and return an error if it does not match.
            example: 123.0.0.255
        required: false
        type: string
        default: ""
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/niResponseBasic'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
  /advanced/async:
    post:
      tags:
      - Request
      summary: Asynchronously get information about a phone number
      description: "**Number Insight Advanced Async**\nYou can use Nexmo's Number Insight Async API to retrieve a user's landline or mobile number, including checking to see that it is registered to an operator. This can help you verify that a phone number is real and give you information on how to format the number.\n\nNumber Insight Advanced Async API is an asynchronous web service that returns data to a webhook. For any phone number you can\n\n- Retrieve the international and local format.\n- Know the country where the number is registered.\n- Line type detection (mobile/landline/virtual number/premium/toll-free)\n- Detect mobile country code (MCC) and mobile network code (MNC)\n- Detect if number is ported\n- Identify caller name (USA only)\n- Identify network when roaming\n- Confirm user's IP address is in same location as their mobile phone\n\nUsers are advised that the Advanced API does not give any information about landlines that is not already given by the Standard API. For number insights about landlines, you should use the Standard API.\n\n ### Example\n  \n  Request:\n  \n  ```\n  curl -X POST \\\n    https://api-prd.kpn.com/communication/nexmo/number-insight/advanced/async \\\n    -H 'authorization: Bearer ZvV84AtjcXoHU48hA6b5AZljegdy' \\\n    -H 'content-type: application/x-www-form-urlencoded' \\\n    -d 'number=31620028461'\n    -d 'callback=https://example.com/callback'\n  \n  ```\n  \n  Response:\n  \n  ```\n  {\n      \"request_id\": \"c510011c-d782-4f49-bfa9-38a2254884e4\",\n      \"number\": \"447700900000\",\n      \"remaining_balance\": \"10.000000\",\n      \"request_price\": \"0.03000000\",\n      \"status\": 0\n  }\n  ```        "
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application
      parameters:
      - name: number
        in: formData
        description: |-
          The single phone number that you need insight about in national or international format.
              example: 447700900000
        required: true
        type: string
        pattern: "^[0-9-+\\(\\)\\s]*$"
        default : "{{number}}"
      - name: callback
        in: formData
        description: |-
          The callback URL
            example: https://example.com/callback
        required: true
        type: string
        default : "{{callback}}"
      - name: country
        in: formData
        description: |-
          If a number does not have a country code or is uncertain, set the two-character country code. This code must be in ISO 3166-1 alpha-2 format and in upper case. For example, GB or US. If you set country and number is already in [E.164](https://en.wikipedia.org/wiki/E.164) format, country must match the country code in number.
            example: GB
        required: false
        type: string
        pattern: "[A-Z]{2}"
        default : ""
      - name: cnam
        in: formData
        description: |-
          Indicates if the name of the person who owns the phone number should be looked up and returned in the response. Set to true to receive phone number owner name in the response. This features is available for US numbers only and incurs an additional charge.
            example: true
        required: false
        type: boolean
        default : ""
      - name: ip
        in: formData
        description: |-
          The IP address of the user. If supplied, we will compare this to the country the user's phone is located in and return an error if it does not match.
            example: 123.0.0.255
        required: false
        type: string
        default : ""
      security:
      - OAuth2: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/niResponseAsync'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too Many Requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
securityDefinitions:
  OAuth2:
    type: oauth2
    tokenUrl: https://api-prd.kpn.com/oauth/client_credential/accesstoken?grant_type=client_credentials
    flow: application
definitions:
  niResponseBasic:
    type: object
    properties:
      status:
        $ref: '#/definitions/niStatus'
      status_message:
        type: string
        example: Success
        description: The status description of your request.
      request_id:
        type: string
        example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        description: The unique identifier for your request. This is a alphanumeric string up to 40 characters.
        maxLength: 40
      international_format_number:
        type: string
        example: "447700900000"
        description: The `number` in your request in international format.
      national_format_number:
        type: string
        example: 07700 900000
        description: The `number` in your request in the format used by the country the number belongs to.
      country_code:
        type: string
        example: GB
        description: "Two character country code for `number`. This is in [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) format."
        pattern: "[A-Z]{2}"
      country_code_iso3:
        type: string
        example: GBR
        description: "Three character country code for `number`. This is in [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) format."
        pattern: "[A-Z]{3}"
      country_name:
        type: string
        example: United Kingdom
        description: The full name of the country that `number` is registered in.
      country_prefix:
        type: string
        example: "44"
        description: The numeric prefix for the country that `number` is registered in.
    description: Basic
  niResponseStandard:
    type: object
    properties:
      status:
        $ref: '#/definitions/niStatus'
      status_message:
        type: string
        example: Success
        description: The status description of your request.
      request_id:
        type: string
        example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        description: The unique identifier for your request. This is a alphanumeric string up to 40 characters.
        maxLength: 40
      international_format_number:
        type: string
        example: "447700900000"
        description: The `number` in your request in international format.
      national_format_number:
        type: string
        example: 07700 900000
        description: The `number` in your request in the format used by the country the number belongs to.
      country_code:
        type: string
        example: GB
        description: "Two character country code for `number`. This is in [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) format."
        pattern: "[A-Z]{2}"
      country_code_iso3:
        type: string
        example: GBR
        description: "Three character country code for `number`. This is in [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) format."
        pattern: "[A-Z]{3}"
      country_name:
        type: string
        example: United Kingdom
        description: The full name of the country that `number` is registered in.
      country_prefix:
        type: string
        example: "44"
        description: The numeric prefix for the country that `number` is registered in.
      request_price:
        type: number
        example: 0.04
        description: The amount in EUR charged to your account.
      refund_price:
        type: number
        example: 0.015
        description: "If there is an internal lookup error, the `refund_price` will reflect the lookup price. If `cnam` is requested for a non-US number the `refund_price` will reflect the `cnam` price. If both of these conditions occur, `refund_price` is the sum of the lookup price and `cnam` price."
      remaining_balance:
        type: number
        example: 1.23456789
        description: Your account balance in EUR after this request. Not returned with Number Insight Advanced Async API.
      current_carrier:
        $ref: '#/definitions/niCarrier'
      original_carrier:
        $ref: '#/definitions/niCarrier'
      ported:
        type: string
        example: not_ported
        description: If the user has changed carrier for `number`. The assumed status means that the information supplier has replied to the request but has not said explicitly that the number is ported.
        enum:
        - unknown
        - ported
        - not_ported
        - assumed_not_ported
        - assumed_ported
      roaming:
        $ref: '#/definitions/niRoaming'
      caller_identity:
        $ref: '#/definitions/niCallerIdentity'
      caller_name:
        type: string
        example: John Smith
        description: Full name of the person or business who owns the phone number. `unknown` if this information is not available. This parameter is only present if `cnam` had a value of `true` within the request.
      last_name:
        type: string
        example: Smith
        description: Last name of the person who owns the phone number if the owner is an individual. This parameter is only present if `cnam` had a value of `true` within the request.
      first_name:
        type: string
        example: John
        description: First name of the person who owns the phone number if the owner is an individual. This parameter is only present if `cnam` had a value of `true` within the request.
      caller_type:
        type: string
        example: consumer
        description: The value will be `business` if the owner of a phone number is a business. If the owner is an individual the value will be `consumer`. The value will be `unknown` if this information is not available. This parameter is only present if `cnam` had a value of `true` within the request.
        enum:
        - business
        - consumer
        - unknown
    description: Standard
  niResponseAdvanced:
    type: object
    required:
    - country_code
    - country_code_iso3
    - country_name
    - country_prefix
    - international_format_number
    - national_format_number
    - request_id
    - status
    - status_message
    properties:
      status:
        $ref: '#/definitions/niStatus'
      status_message:
        type: string
        example: Success
        description: The status description of your request.
      request_id:
        type: string
        example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        description: The unique identifier for your request. This is a alphanumeric string up to 40 characters.
        maxLength: 40
      international_format_number:
        type: string
        example: "447700900000"
        description: The `number` in your request in international format.
      national_format_number:
        type: string
        example: 07700 900000
        description: The `number` in your request in the format used by the country the number belongs to.
      country_code:
        type: string
        example: GB
        description: "Two character country code for `number`. This is in [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) format."
        pattern: "[A-Z]{2}"
      country_code_iso3:
        type: string
        example: GBR
        description: "Three character country code for `number`. This is in [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) format."
        pattern: "[A-Z]{3}"
      country_name:
        type: string
        example: United Kingdom
        description: The full name of the country that `number` is registered in.
      country_prefix:
        type: string
        example: "44"
        description: The numeric prefix for the country that `number` is registered in.
      request_price:
        type: number
        example: 0.04
        description: The amount in EUR charged to your account.
      refund_price:
        type: number
        example: 0.015
        description: "If there is an internal lookup error, the `refund_price` will reflect the lookup price. If `cnam` is requested for a non-US number the `refund_price` will reflect the `cnam` price. If both of these conditions occur, `refund_price` is the sum of the lookup price and `cnam` price."
      remaining_balance:
        type: number
        example: 1.23456789
        description: Your account balance in EUR after this request. Not returned with Number Insight Advanced Async API.
      current_carrier:
        $ref: '#/definitions/niCarrier'
      original_carrier:
        $ref: '#/definitions/niCarrier'
      ported:
        type: string
        example: not_ported
        description: If the user has changed carrier for `number`. The assumed status means that the information supplier has replied to the request but has not said explicitly that the number is ported.
        enum:
        - unknown
        - ported
        - not_ported
        - assumed_not_ported
        - assumed_ported
      roaming:
        $ref: '#/definitions/niRoaming'
      caller_identity:
        $ref: '#/definitions/niCallerIdentity'
      caller_name:
        type: string
        example: John Smith
        description: Full name of the person or business who owns the phone number. `unknown` if this information is not available. This parameter is only present if `cnam` had a value of `true` within the request.
      last_name:
        type: string
        example: Smith
        description: Last name of the person who owns the phone number if the owner is an individual. This parameter is only present if `cnam` had a value of `true` within the request.
      first_name:
        type: string
        example: John
        description: First name of the person who owns the phone number if the owner is an individual. This parameter is only present if `cnam` had a value of `true` within the request.
      caller_type:
        type: string
        example: consumer
        description: The value will be `business` if the owner of a phone number is a business. If the owner is an individual the value will be `consumer`. The value will be `unknown` if this information is not available. This parameter is only present if `cnam` had a value of `true` within the request.
        enum:
        - business
        - consumer
        - unknown
      lookup_outcome:
        type: integer
        example: 0
        description: |
          Shows if all information about a phone number has been returned. Possible values:

          Code | Text
          --- | ---
          0 | Success
          1 | Partial success - some fields populated
          2 | Failed
      lookup_outcome_message:
        type: string
        example: Success
        description: Shows if all information about a phone number has been returned.
      valid_number:
        type: string
        example: valid
        description: Does `number` exist. This is applicable to mobile numbers only.
        enum:
        - unknown
        - valid
        - not_valid
      reachable:
        type: string
        example: reachable
        description: Can you call `number` now. This is applicable to mobile numbers only.
        enum:
        - unknown
        - reachable
        - undeliverable
        - absent
        - bad_number
        - blacklisted
      ip:
        $ref: '#/definitions/niIP'
      ip_warnings:
        type: string
        example: no_warning
        description: Warning levels for `ip`
        enum:
        - unknown
        - no_warning
    description: Advanced
  niCarrier:
    type: object
    properties:
      network_code:
        type: string
        example: "12345"
        description: "The [https://en.wikipedia.org/wiki/Mobile_country_code](https://en.wikipedia.org/wiki/Mobile_country_code) for the carrier`number` is associated with. Unreal numbers are marked as`unknown` and the request is rejected altogether if the number is impossible according to the [E.164](https://en.wikipedia.org/wiki/E.164) guidelines."
      name:
        type: string
        example: Acme Inc
        description: The full name of the carrier that `number` is associated with.
      country:
        type: string
        example: GB
        description: The country that `number` is associated with. This is in ISO 3166-1 alpha-2 format.
      network_type:
        type: string
        example: mobile
        description: The type of network that `number` is associated with.
        enum:
        - mobile
        - landline
        - landline_premium
        - landline_tollfree
        - virtual
        - unknown
        - pager
    description: Information about the network `number` was initially connected to.
  niRoaming:
    type: object
    properties:
      status:
        type: string
        example: roaming
        description: Is `number` outside its home carrier network.
        enum:
        - unknown
        - roaming
        - not_roaming
      roaming_country_code:
        type: string
        example: US
        description: "If `number` is `roaming`, this is the [code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of the country `number` is roaming in."
      roaming_network_code:
        type: string
        example: "12345"
        description: "If `number` is `roaming`, this is the id of the carrier network `number` is roaming in."
      roaming_network_name:
        type: string
        example: Acme Inc
        description: "If `number` is `roaming`, this is the name of the carrier network `number` is roaming in."
    description: Information about the network `number` is currently connected to.
  niIP:
    type: object
    properties:
      address:
        type: string
        example: 123.0.0.255
        description: The ip address you specified in the request.
      ip_match_level:
        type: string
        example: country
        description: The match status between ip and number parameters.
        enum:
        - country
        - mismatch
      ip_country:
        type: string
        example: GB
        description: The country that `ip` is allocated to.
      ip_city:
        type: string
        example: London
        description: The city that `ip` is allocated to.
    description: Information about the provided IP address
  niCallerIdentity:
    type: object
    properties:
      caller_type:
        type: string
        example: consumer
        description: The value will be `business` if the owner of a phone number is a business. If the owner is an individual the value will be `consumer`. The value will be `unknown` if this information is not available. This parameter is only present if `cnam` had a value of `true` within the request.
        enum:
        - business
        - consumer
        - unknown
      caller_name:
        type: string
        example: John Smith
        description: Full name of the person or business who owns the phone number. `unknown` if this information is not available. This parameter is only present if `cnam` had a value of `true` within the request.
      first_name:
        type: string
        example: John
        description: First name of the person who owns the phone number if the owner is an individual. This parameter is only present if `cnam` had a value of `true` within the request.
      last_name:
        type: string
        example: Smith
        description: Last name of the person who owns the phone number if the owner is an individual. This parameter is only present if `cnam` had a value of `true` within the request.
      subscription_type:
        type: string
        example: unknown
    description: Information about the network `number` is currently connected to.
  niStatus:
    type: integer
    description: "Code | Text\n-- | --\n0 | Success - request accepted for delivery by Nexmo.\n1 | Busy - you have made more requests in the last second than are permitted by your Nexmo account. Please retry.\n3 | Invalid - your request is incomplete and missing some mandatory parameters.\n4 | Invalid credentials - the _api_key_ or _api_secret_ you supplied is either not valid or has been disabled.\n5 | Internal Error - the format of the recipient address is not valid.\n9 | Partner quota exceeded - your Nexmo account does not have sufficient credit to process this request.\n\n#### Standard and Advanced only\n\nCode | Text\n-- | --\n19 | Facility Not Allowed - your request makes use of a facility that is not enabled on your account.\n43, 44, 45 | Live mobile lookup not returned. Not all return parameters are available.\n999 | Request unparseable. \n"
    example: 0
    enum:
    - "0"
    - "1"
    - "3"
    - "4"
    - "5"
    - "9"
    - "19"
    - "43"
    - "44"
    - "45"
    - "999"
  niResponseAsync:
    type: object
    properties:
      request_id:
        type: string
        example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        description: The unique identifier for your request. This is a alphanumeric string up to 40 characters.
        maxLength: 40
      number:
        type: string
        example: "447700900000"
        description: The `number` in your request
      remaining_balance:
        type: string
        example: "1.23456789"
        description: Your account balance in EUR after this request. Not returned with Number Insight Advanced Async API.
      request_price:
        type: number
        example: 0.015
        description: "If there is an internal lookup error, the `refund_price` will reflect the lookup price. If `cnam` is requested for a non-US number the `refund_price` will reflect the `cnam` price. If both of these conditions occur, `refund_price` is the sum of the lookup price and `cnam` price."
      status:
        $ref: '#/definitions/niStatus'
  ErrorResponse:
    type: object
    properties:
      transactionId:
        type: string
        description: transaction id of the the request
        title: Transaction ID
      status:
        type: string
        description: Status
        title: Status
      name:
        type: string
        description: Error name
        title: Error name
      message:
        type: string
        description: Error message
        title: Error message
      info:
        type: string
        description: Additional information about error
        title: Info
externalDocs:
  description: HTTP response headers
  url: https://developer.kpn.com/documentation-response-headers
